<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itxiaodu.credit.mapper.MemberpoMapper">
  <resultMap id="BaseResultMap" type="com.itxiaodu.credit.entity.po.Memberpo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="login_account" jdbcType="VARCHAR" property="loginAccount" />
    <result column="user_password" jdbcType="CHAR" property="userPassword" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="authstatus" jdbcType="INTEGER" property="authstatus" />
    <result column="usertype" jdbcType="INTEGER" property="usertype" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="cardnum" jdbcType="VARCHAR" property="cardnum" />
    <result column="accttype" jdbcType="INTEGER" property="accttype" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="backup1" jdbcType="CHAR" property="backup1" />
    <result column="backup2" jdbcType="CHAR" property="backup2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, login_account, user_password, user_name, email, authstatus, usertype, realname, 
    cardnum, accttype, telephone, create_time, backup1, backup2
  </sql>
  <select id="selectByExample" parameterType="com.itxiaodu.credit.entity.po.MemberpoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from memberpo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from memberpo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from memberpo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itxiaodu.credit.entity.po.MemberpoExample">
    delete from memberpo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itxiaodu.credit.entity.po.Memberpo">
    insert into memberpo (id, login_account, user_password, 
      user_name, email, authstatus, 
      usertype, realname, cardnum, 
      accttype, telephone, create_time, 
      backup1, backup2)
    values (#{id,jdbcType=INTEGER}, #{loginAccount,jdbcType=VARCHAR}, #{userPassword,jdbcType=CHAR}, 
      #{userName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{authstatus,jdbcType=INTEGER}, 
      #{usertype,jdbcType=INTEGER}, #{realname,jdbcType=VARCHAR}, #{cardnum,jdbcType=VARCHAR}, 
      #{accttype,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{backup1,jdbcType=CHAR}, #{backup2,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.itxiaodu.credit.entity.po.Memberpo">
    insert into memberpo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginAccount != null">
        login_account,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="authstatus != null">
        authstatus,
      </if>
      <if test="usertype != null">
        usertype,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="cardnum != null">
        cardnum,
      </if>
      <if test="accttype != null">
        accttype,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="backup1 != null">
        backup1,
      </if>
      <if test="backup2 != null">
        backup2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginAccount != null">
        #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=CHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="authstatus != null">
        #{authstatus,jdbcType=INTEGER},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="cardnum != null">
        #{cardnum,jdbcType=VARCHAR},
      </if>
      <if test="accttype != null">
        #{accttype,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="backup1 != null">
        #{backup1,jdbcType=CHAR},
      </if>
      <if test="backup2 != null">
        #{backup2,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itxiaodu.credit.entity.po.MemberpoExample" resultType="java.lang.Long">
    select count(*) from memberpo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update memberpo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.loginAccount != null">
        login_account = #{record.loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null">
        user_password = #{record.userPassword,jdbcType=CHAR},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.authstatus != null">
        authstatus = #{record.authstatus,jdbcType=INTEGER},
      </if>
      <if test="record.usertype != null">
        usertype = #{record.usertype,jdbcType=INTEGER},
      </if>
      <if test="record.realname != null">
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.cardnum != null">
        cardnum = #{record.cardnum,jdbcType=VARCHAR},
      </if>
      <if test="record.accttype != null">
        accttype = #{record.accttype,jdbcType=INTEGER},
      </if>
      <if test="record.telephone != null">
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.backup1 != null">
        backup1 = #{record.backup1,jdbcType=CHAR},
      </if>
      <if test="record.backup2 != null">
        backup2 = #{record.backup2,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update memberpo
    set id = #{record.id,jdbcType=INTEGER},
      login_account = #{record.loginAccount,jdbcType=VARCHAR},
      user_password = #{record.userPassword,jdbcType=CHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      authstatus = #{record.authstatus,jdbcType=INTEGER},
      usertype = #{record.usertype,jdbcType=INTEGER},
      realname = #{record.realname,jdbcType=VARCHAR},
      cardnum = #{record.cardnum,jdbcType=VARCHAR},
      accttype = #{record.accttype,jdbcType=INTEGER},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=DATE},
      backup1 = #{record.backup1,jdbcType=CHAR},
      backup2 = #{record.backup2,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itxiaodu.credit.entity.po.Memberpo">
    update memberpo
    <set>
      <if test="loginAccount != null">
        login_account = #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=CHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="authstatus != null">
        authstatus = #{authstatus,jdbcType=INTEGER},
      </if>
      <if test="usertype != null">
        usertype = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="cardnum != null">
        cardnum = #{cardnum,jdbcType=VARCHAR},
      </if>
      <if test="accttype != null">
        accttype = #{accttype,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="backup1 != null">
        backup1 = #{backup1,jdbcType=CHAR},
      </if>
      <if test="backup2 != null">
        backup2 = #{backup2,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itxiaodu.credit.entity.po.Memberpo">
    update memberpo
    set login_account = #{loginAccount,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=CHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      authstatus = #{authstatus,jdbcType=INTEGER},
      usertype = #{usertype,jdbcType=INTEGER},
      realname = #{realname,jdbcType=VARCHAR},
      cardnum = #{cardnum,jdbcType=VARCHAR},
      accttype = #{accttype,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      backup1 = #{backup1,jdbcType=CHAR},
      backup2 = #{backup2,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>